<html>
<head>
    {{> headerlinks}}
</head>
<body>
    {{> navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row" >
                    <!-- left side div -->
                    <div  class="col-md-12 col-12 main_header_left  align-items-center" id="pic">
                        <figure class="err">
                        <img src="https://tse1.mm.bing.net/th?id=OIP.3Uga86L53WxiVL_n6Ldi9QHaHa&pid=Api&P=0&h=180"  alt="priyanshi" class="img-fluid" title="priyanshi">
                        </figure>
                        <p>Welcome to My Page</p>
                        <h1>I am A <span class="text_clr">Mern Stack Developer</span> ,Youtuber And A Freelancer</h1>
                        <a href="/home"><button>Go Back</button></a>
                    </div>
                   <!-- right side div -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>